<div class="container spacer" >
  <button routerLink="/associations" class="btn btn-primary">Gestion des associations</button>
  <button routerLink="/demandes" class="btn btn-primary">Approbation des demandes</button>
  <button routerLink="/statistiques" class="btn btn-primary">Statistiques</button>
  <button  (click)="seDeconnecter()" ><img src="assets/images/logout.png" width="40" height="40"/></button>
</div>

<div class="container spacer" >
  <a routerLink="/statistiques-mission" > A propos des missions</a>
  <a routerLink="/statistiques-benevoles">A propos des bénévoles</a>
  
  </div>

