<div class="container spacer">
  <div class="panel panel-primary">

    <div class="panel-heading">Modifier une mission</div>
    <div class="panel-body">

      <div class="form-group ">
        <label class="control-lable" >Nom:</label>
        <input class="form-control" type="text" [(ngModel)]="mission.nom" >
      </div>


      <div class="form-group ">
        <label class="control-lable" >Description:</label>
        <input class="form-control" type="text" [(ngModel)]="mission.description" >
      </div>


      <div class="form-group ">
        <label class="control-lable" >Domaine:</label>
        <input class="form-control" type="text" [(ngModel)]="mission.domaine" >
      </div>


      <div class="form-group ">
        <label class=" control-lable" >Lieu:</label>
        <input class="form-control" type="text" [(ngModel)]="mission.lieu">
      </div>


      <div class="form-group ">
        <label class="control-lable" >Date:</label>
        <input class="form-control" type="date" [(ngModel)]="mission.date">
      </div>

      <div class="form-group ">
        <label class="control-lable" >Nbr Participant fixe:</label>
        <input class="form-control" type="text" [(ngModel)]="mission.nbrParticipFix">
      </div>
      <button  class="btn btn-primary" (click)="updateMission()" >Save</button>

    </div>
  </div>
</div>
