<head>
  <meta charset="utf-8">

</head>
<div class="container spacer" >
  <button routerLink="/authentification" class="btn btn-primary">Administrateur</button>
  <button routerLink="/espace-association" class="btn btn-primary">Associations</button>
  <button routerLink="/authentification-benevole" class="btn btn-primary">Bénévoles</button>
  <button routerLink="/espace-entreprise" class="btn btn-primary">Entreprises</button>
</div>

<div class="container spacer" >
  <div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped">
      <tr *ngFor="let a of allMissions ; let ii = index">
   <td></td>
     <td>
       <span>{{a.date}}</span>
     </td>

     <td>
       {{a.nom}}
     </td>
     <td>
          {{a.lieu}}
     </td>
     <td>
           <a routerLink='/authentification-benevole'>Je participe !</a>
      </td>
       <td>
        <p style="text-align:center"><img [src]="tabImages[ii]" width="400" height="200" vspace="40"></p>
       </td>

  </tr>
  </table>
  </div>
  </div>
    <div class="container">
      <ul class="nav nav-pills">
        <li [ngClass]="{'active':i==currentPage}" *ngFor="let p of pages;let i=index">
          <a class="clickable" (click)="goToPage(i)">{{i}}</a></li>
      </ul>

    </div>

</div>
